body {
  background-color: #eaf6f6
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: #2a7886;
  font-size: 70px;

}
h2 {
  color: #2a7886;
}
/******************************CLASS SELECTORS***************************/
